
@{
    ViewData["Title"] = "Assignments";

    //Add method to accept both commas and dots
}

<h1>Assignments</h1>

<div class="my-2">
       <a class="btn btn-warning" asp-controller="Assignment" asp-action="FeverCheck">
           Fever Check Task  
       </a>
</div>

<div class="my-2">
       <a class="btn btn-primary" asp-controller="Assignment" asp-action="GuessingGame">
           Guessing Game Task
       </a>
</div>

